<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FukInvoice</title>

    <style>
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .items {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-column-gap: 1rem;

            margin-top: 2rem;
        }

        .item {
            padding: 2rem;
            background-color: #90EE90;
            color: white;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    </style>
</head>
<body>
    <header>
        <h1><%= greetings %></h1>
        <p><%= date %></p>
    </header>
    
    <section class="items">
        <div class="item">
            Item: # 1
        </div>
        <div class="item">
            Item: # 2
        </div>
        <div class="item">
            Item: # 3
        </div>
        <div class="item">
            Item: # 4
        </div>
        <div class="item">
            Item: # 5
        </div>
        <div class="item">
            Item: # 6
        </div>
        <div class="item">
            Item: # 7
        </div>
    </section>
</body>
</html>