header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    padding: 1rem;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 1rem;

    margin-top: 2rem;
}

.item {
    padding: 2rem;
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}