html {
    -webkit-print-color-adjust: exact;
}
body {
    margin: 0;
    padding: 1rem 0 0 0;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}

.header--top {
    text-align: justify;
}

.header--top:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header__logo,
.header__info {
    display: inline-block;
}

.header__logo {
    width: 280px;
    margin-bottom: 1em;
}  

.header__info {
    position: relative;
    top: -40;
}    

.info--invoice-id,
.info--empleado,
.info--fecha {
    margin-bottom: .5em; 
}         

.header--bottom {
    text-align: justify; 
}

.header--bottom:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header__address,
.header__cliente {
    display: inline-block;
}

.invoice__pago {
    margin-top: 2em;
}

.pago__header {
    background: #ededed !important;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    padding: .4em;
}

.pago__header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.pago__header--metodo,
.pago__header--pronto {
    display: inline-block;
}

.pago {
    text-align: justify;
    font-size: 16px;
    padding: .4em;
}

.pago:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.pago--metodo,
.pago--pronto {
    display: inline-block;
}

.pago--metodo {
    text-transform: capitalize;
}

.invoice__items {
    margin-top: 2em;
}

.items__header {
    background: #eeeeee !important;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    padding: .4em;
}

.items__header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.items__header--articulo,
.items__header--precio {
    display: inline-block;
}

.items {
    text-align: justify;
    border-bottom: 1px solid #dddddd;
    padding: .4em;
}

.items:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.items--item,
.items--price {
    display: inline-block;
}

.item--marca,
.items--price {
    font-size: 14px;
    font-weight: bold;
}

.invoice__desglose-costo {
    margin-top: 2em;
}

.desglose-costo__header {
    display: table;
    width: 100%;
    padding: .4em 0;
    background: #eeeeee !important;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    font-size: 16px;
}

.desglose-costo__header--subtotal,
.desglose-costo__header--tax,
.desglose-costo__header--factura-tax {
    display: table-cell;
    text-align: center;
    width: 33%;            
}

.desglose-costo {
    display: table;
    width: 100%;
    padding: 1em 0 2em 0;
    font-weight: bold;
    font-size: 14px;
}

.desglose-costo--subtotal,
.desglose-costo--tax,
.desglose-costo--factura-tax {
    display: table-cell;
    text-align: center;
    width: 33%;            
}

.invoice__desglose-2-costo {
    margin-top: 2em;
}

.desglose-costo-2__header {
    display: table;
    width: 100%;
    padding: .4em 0;
    background: #eeeeee !important;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    font-size: 16px;
}

.desglose-costo-2__header--pronto,
.desglose-costo-2__header--total,
.desglose-costo-2__header--intereses,
.desglose-costo-2__header--balance {
    display: table-cell;
    text-align: center;
    width: 25%;            
}

.desglose-costo-2 {
    display: table;
    width: 100%;
    padding: 1em 0 2em 0;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    font-size: 14px;
}

.desglose-costo-2--pronto,
.desglose-costo-2--total,
.desglose-costo-2--intereses,
.desglose-costo-2--balance {
    display: table-cell;
    text-align: center;
    width: 25%;            
}        

.invoice__firma {
    margin-top: 1em;
    width: 100%;
    font-size: 12px;
}

.invoice__firma--tmunicipal,
.invoice__firma--testatal {
    width: 33%;
}

.invoice__firma--firma {
    width: 34%;
    border-bottom: 1px solid black;
}

.invoice__mensaje {
    text-align: justify;
    margin-top: 1.4em;
}

.invoice__mensaje:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.mensaje__mensaje,
.mensaje__invoice-id {
    display: inline-block;
}

.mensaje__mensaje {
    font-weight: bold;
}  

@media print {
    .items,
    .invoice__desglose-costo,
    .invoice__desglose-costo-2,
    .invoice__firma {
        page-break-inside: avoid;
    }            
}